@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;

}

body {
  background-color: #FDD7D6;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Si estás usando React, también el div root necesita altura completa */
#root {
  height: 100%;
  width: 100%;
}
