.NuevoMenu {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .menu-left {
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 3rem 4rem;
    
  }
  
  .menu-right {
    width: 50%;
    height: 100%;
    background-color: #1542B9;
    position: relative;
    overflow: hidden;
  }
  
  /* .menu-right::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 850px;
    height: 850px;
    background-color: #FEB6B5;
    border-radius: 100% 0 0 0;
  } */

  .menu-right::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200%;  /* El doble del ancho del div azul */
    /* height: 200%;  */
    aspect-ratio: 1;  
    background-color: #FEB6B5;
    border-radius: 100%; /* Círculo completo */
    transform: translate(50%, 50%); /* Movemos para ver solo el cuarto superior izquierdo */
}
  
  @media (max-width: 768px) {
    .NuevoMenu {
      flex-direction: column;
    }
    
    .menu-left,
    .menu-right {
      width: 100%;
      height: 50vh;
    }
    
    .menu-right::after {
      top: -100px;
      right: -100px;
      width: 200px;
      height: 200px;
    }
  }