.HandleUpdateButton {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.animate{
    animation: rotation 0.25s linear;
}